<html>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
<head>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script>
    var i = 0;
    var rec = 0;

    function isNumbers(e)
    {
        var keynum;
        var keychar;
        keynum = window.event ? e.keyCode : e.which;
        keychar = String.fromCharCode(keynum);
//      //alert(keynum+':'+keychar);
        var flag = false;
        console.log(keychar);
        if (e.keyCode == 13 || e.keyCode == 32){
            keychar = "0";
        }
         if($('#input1').val() == "" && e.keyCode == 188 || e.keyCode == 102){
            $('#value2').val($('#value2').val() + keychar);
        }
        if (keychar >= "0" && keychar <= "9"){
            var select = $('#value').text().split(",")[keychar-'0'].split(":")[1].replace(" ","");

            if(select != "undefined"){
                $('#value2').val($('#value2').val() + select);
                $('#value').html("");
                $('#input1').val("");
                flag = true;
            }
        }

//        return flag;
        if(!flag) {
            OnInput(e);
        }
    }


    // Firefox, Google Chrome, Opera, Safari, Internet Explorer from version 9
	 function OnInput (event) {
         if (event.target.value[event.target.value.length -1] >= "0"
                 && event.target.value[event.target.value.length -1] <= "9"){
             $('#input1').val("");
         }

         if (event.target.value != ""){
 	        $.ajax({
       		   	 url : "/calc/", // the endpoint
       			 type : "POST", // http method
    			 data : { "pinyin":event.target.value, 'num':i}, // data sent with the post request
                async: false,
                success : function(ret) {
                    console.log(ret);
                    $('#value').html(unescape((ret["hanzi"].replace(/\\u/g, '%u')))
                            .replace("{","") .replace("}","").replace(/"/g,""));
	    	        rec = ret["num"];
		          console.log(ret["num"]); // log the returned json to the console
          	      console.log("success"); // another sanity chec
 	         },
        	    error: function(xhr,errmsg,err) {
                      console.log("failure");
		        }
 	        });
               i = i + 1;
	}else{
        	$('#value').html(""); // remove the value from the input
         }

    }
    function OnPropChanged (event) {
        if (event.propertyName.toLowerCase () == "value") {
              document.getElementById("value").innerHTML = event.srcElement.value;
        }
    }
    </script>
    <style>
        form.input{
            border-radius: 10px;
        }
        #input1{
            border-radius: 5px;
            width: 70%;
            height: 30px;
            border: 1px solid blue;
        }
        #value{
            width: 100%;
            height: 20px;
            border-radius: 5px;
            border:1px solid white;
        }
        #value2{
            width: 70%;
            height:30px;
            border-radius: 5px;
            border:1px solid dodgerblue;
        }
    </style>
</head>
<body>
   <p> pinyin输入法demo程序</p>
   <form action="/calc/" method="post">
    <input type="text" onkeyup="value=value.replace(/[^a-z]/g,'')" id="input1"
        oninput="OnInput(event)" onkeydown="isNumbers(event)" value=""/>
    <div id="value"></div>
    <input id="value2"/>
   </form>
</body>
</html>

